<!DOCTYPE html>
<html lang="fr">
<head>
</head>
<body>

<div class="container">
  <h1 class="mt-5">Équipe</h1>
  <p>Voici l'équipe :</p>
  <ul class="list-group">
    <li class="list-group-item">Valou</li>
    <li class="list-group-item">Antoine</li>
    <li class="list-group-item">Enzo</li>
    <li class="list-group-item">Elias</li>
  </ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
