/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*h1{
   color:brown
  }*/
  .card-body{
    background-color: #d1d3d6
  }
 .card-header{
  background-color: #c0d9ff
 }/* Change default link color */

 a {
  color: #ff0000; /* Red color */
}
  /* Change link color on hover */
  a:hover {
    color: #203174; /* Tomato color */
  }
  
  @import 'bootstrap/scss/bootstrap';
  @import 'bootstrap-icons/font/bootstrap-icons'; 

.jumbotron {
  background-image: url('banddeau gossip.jpg');
  background-size: cover; /* Ajuste la taille de l'image pour remplir le conteneur */
  color: #000000; /* Couleur du texte pour le contraste */
  }
